{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'home/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'home/css/styles.css' %}"
        />

        <link
            href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600;700;900&family=Open+Sans&display=swap"
            rel="stylesheet"
        />

        <script
            src="https://kit.fontawesome.com/1f06dfeacc.js"
            crossorigin="anonymous"
        ></script>

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Story 8</title>
        {% endif %}
    </head>
    <body style="text-align: center; background-color: #409553;">
        <h1>Alifyandra's Wonderful<br />JQuery Accordion</h1>
        <div class="container" style="font-family: 'Crimson Pro', serif;">
            <div class="accordion-container">
                <div
                    class="set"
                    id="activities"
                    style="
                        border-radius: 30px 30px 30px 30px;
                        margin-top: 10px;
                    "
                >
                    <a href="#">
                        Current Activities<i class="fa fa-plus"></i>
                    </a>
                    <span class="up" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-up"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <span class="down" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-down"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <div class="content">
                        <p id="activities-content">
                            My current activities in this quarantine are: <br>
                            <ul>
                                <li>Netflix Bingewatching</li>
                                <li>Online Classes</li>
                                <li>Studying</li>
                                <li>Finishing Uni assignments</li>
                                <li>Listening to Spotify (Spotify link below!)</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div
                    class="set"
                    id="commitee"
                    style="
                        border-radius: 30px 30px 30px 30px;
                        margin-top: 10px;
                    "
                >
                    <a href="#">
                        Organizational/Comitee Experience
                        <i class="fa fa-plus"></i>
                    </a>
                    <span class="up" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-up"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <span class="down" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-down"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <div class="content">
                        <p id="commitee-content">
                            <ul>
                                <li>Equipment staff for Fasilkom UI
                                    batch 2019 gathering</li>
                                <li>Event staff for Fasilkom UI’s
                                    social project</li>
                                <li>Publication staff for Fasilkom
                                    UI’s Open House event</li>
                                <li>Public Relations staff for Perak
                                    Fasilkom UI</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div
                    class="set"
                    id="achievements"
                    style="
                        border-radius: 30px 30px 30px 30px;
                        margin-top: 10px;
                    "
                >
                    <a href="#">
                        Achievements
                        <i class="fa fa-plus"></i>
                    </a>
                    <span class="up" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-up"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <span class="down" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-down"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <div class="content">
                        <p id="achievements-content">
                            <ul>
                                <li>1st Winner for Al-Azhar National English Speech</li>
                                <li>EF Spelling Bee Finalist</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div
                    class="set"
                    id="spotify"
                    style="
                        border-radius: 30px 30px 30px 30px;
                        margin-top: 10px;
                    "
                >
                    <a href="#">
                        My Spotify Link!
                        <i class="fa fa-plus"></i>
                    </a>
                    <span class="up" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-up"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <span class="down" href="#"
                        ><i
                            class="fas fa-arrow-alt-circle-down"
                            style="
                                font-size: 130%;
                                padding-top: 6px;
                                cursor: pointer;
                            "
                        ></i
                    ></span>
                    <div class="content">
                        <p id="spotify-content">
                            <a
                                href="https://open.spotify.com/user/alifyandraid?si=nPIlklN-TJGy_Uyh8tFrfw"
                                target="_blank"
                                >Alifyandra's Spotify</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </body>
    <script>
        $(document).ready(function () {
            $(".set > a").on("click", function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this).siblings(".content").slideUp(200);
                    $(".set > a i").removeClass("fa-minus").addClass("fa-plus");
                } else {
                    $(".set > a i").removeClass("fa-minus").addClass("fa-plus");
                    $(this)
                        .find("i")
                        .removeClass("fa-plus")
                        .addClass("fa-minus");
                    $(".set > a").removeClass("active");
                    $(this).addClass("active");
                    $(".content").slideUp(200);
                    $(this).siblings(".content").slideDown(200);
                }
            });
        });
        $(function () {
            $(".up").on("click", function (e) {
                var wrapper = $(this).closest(".set");
                wrapper.insertBefore(wrapper.prev());
            });
            $(".down").on("click", function (e) {
                var wrapper = $(this).closest(".set");
                wrapper.insertAfter(wrapper.next());
            });
        });
    </script>
</html>
