h1 {
    font-family: "Crimson Pro", serif;
    color: #f8fc26;
    font-size: 250%;
    font-weight: 900;
    padding: 5vh;
}

.accord {
    font-size: 100%;
}

.accordion-container {
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}
.set > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.set > a i {
    float: right;
    margin-top: 2px;
}
.set > a.active {
    border-radius: 30px 30px 30px 30px;
    background-color: #be3009;
    color: #fff;
}
.content {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
}
.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
    font-weight: 600;
}

*,
::after,
::before {
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
}
